/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #fadb96;
    color: #333;
    padding-top: 60px; /* To make room for the fixed header */
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #333;
    color: #c553b5;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ff6347; /* Change to a highlighted color */
}

/* Introduction Section */
.intro {
    padding: 60px 0;
    background: #fff;
    text-align: center;
}

.intro h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
}

/* Featured Projects */
.featured-projects {
    padding: 60px 0;
    background: #e9ecef;
}

.featured-projects h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 30%;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item img {
    width: 100%;
    border-radius: 10px;
}

.project-item h3 {
    margin: 15px 0;
    font-size: 1.5rem;
}

.project-item p {
    font-size: 1.1rem;
    color: #666;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

footer p {
    margin: 0;
}

footer nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
}

footer nav ul li {
    margin: 0 10px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

footer nav ul li a:hover {
    color: #ff6347;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header nav ul {
        flex-direction: column;
    }

    .intro h2, .featured-projects h2 {
        font-size: 2rem;
    }

    .project-item {
        width: 100%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }


    .project-item {
        width: 100%;
    }

    .intro h2, .featured-projects h2 {
        font-size: 1.8rem;
    }

    footer nav ul {
        flex-direction: column;
    }
}
